<section class="py-5">
  <div class="hstack justify-content-end">
    <button class="btn btn-info text-white" (click)="openDialog()">{{"Add Note" | translate }}</button>
  </div>
</section>
<div class="col-md-8 mx-auto my-4" *ngIf="notes.length">
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>{{"Search ..." | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 ">
<div class="col p-4 " *ngFor="let note of notes | filter:value  let index=index">
  <div class="card h-100 shadow">
    <div class="card-body">
     <button mat-icon-button class="position-absolute end-0" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="sendData(note)">
    <mat-icon>mode_edit</mat-icon>
    <span>{{"Update" | translate }}</span>
  </button>
  <button mat-menu-item [swal]="deleteSwal">
    <mat-icon>delete_outline</mat-icon>
    <span>{{"Delete" | translate }}</span>
  </button>

  <swal
  #deleteSwal
  title=' {{"Delete" | translate }}  {{ note.title}}?'
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  cancelButtonColor="#d33"
  confirmButtonColor="rgb(13, 202, 240)"
  (confirm)="deleteNote(note._id,index)">
</swal>

</mat-menu>
<div>
  <h3 class="h5 text-center text-info">{{note.title}}</h3>
  <p class="text-dark">{{note.desc}}</p>
</div>

    </div>
  </div>
</div>
</section>
